<div id="<%= dom_id resturant %>">
  <p>
    <strong>Name of Resturant:</strong>
    <%= resturant.name %>
  </p>

  <p>
    <strong>Cusine:</strong>
    <%= resturant.cusine %>
  </p>

  <p>
    <strong>Resturant type:</strong>
    <%= resturant.type %>
  </p>

  <p>
    <strong>How old is the resturant?:</strong>
    <%= resturant.age %>
  </p>

</div>
