<div id="<%= dom_id resturant %>">
  <p>
    <strong>Name:</strong>
    <%= resturant.name %>
  </p>

  <p>
    <strong>Cusine:</strong>
    <%= resturant.cusine %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= resturant.type %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= resturant.age %>
  </p>

</div>
